.container {
  display: flex;
  flex-direction: row;
  background-color: coral;
}
.image {
  height: 32px;
  width: 32px;
}
.column {
  flex:1;
  background-color: 'green';
}

.columnName {
  flex:2;
}

.columnLogo {
  flex:1;
  justify-content: center;
  align-items: center;
}

.name {
  background-color: lightpink;
}
.rowContainer{
  flex:1;
  flex-direction: row;
  background-color: 'pink';
  padding:10px;
  margin:10px;
}
.row {
  border: 2px;
  border-color: red;
  border-radius: 20px;

}